

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}
@include bg {
    &-pic {
        background-image: url("../../public/image/books_cactus.jpg");
        background-size: cover;
        background-position: center;
    }
    
}

@include mk {
    &-login {
        background-color: #fff;
        min-height: 100vh;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        align-items: center !important;
        display: flex !important;
        @include mk {
            &-login {
                &-heading {
                    font-weight: 300;
                    margin-bottom: 1.5rem!important;
                }
            }
        }
        @include flg {
            position: relative;
            margin-bottom: 1rem;

            & > input,
            & > label {
                padding: var(--input-padding-y) var(--input-padding-x);
                height: auto;
                border-radius: 2rem;
            }
            & > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                cursor: text;
                /* Match the input under the label */
                border: 1px solid transparent;
                border-radius: 0.25rem;
                transition: all 0.1s ease-in-out;
            }
            input {
                &::-webkit-input-placeholder,
                &:-ms-input-placeholder,
                &::-ms-input-placeholder,
                &::-moz-placeholder,
                &::placeholder {
                    color: transparent;
                }
                &:not(:placeholder-shown) {
                    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
                    padding-bottom: calc(var(--input-padding-y) / 3);
                }
                &:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y) / 3);
                    padding-bottom: calc(var(--input-padding-y) / 3);
                    font-size: 12px;
                    color: #777;
                }
            }
        }
        .form-btn.auth-google{
            background-color: #4285f4;
        }
    }
}

@include btn {
    &.coderatings {
        &-button {
            background-color: #d1825f;
            border: 1px solid #d1825f;
            &:hover {
                background-color: #d1825f;
            }
        }
    }
    &.auth-google{
        background-color: #4285f4;
    }
    &-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
        border-radius: 2rem;
    }
}
