@include Control {
    position: relative;
    margin-right: 0px;
    @include Control {
        &_tools {
            position: fixed;
            width: 19%;
            height: 100%;
            top: 52px;
            left: 60px;
            background-color: #f8f9fa;
            padding-right: 0.5rem !important;
            padding-left: 0.5rem !important;
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
            display: none;
            &.active {
                display: block !important;
                + {
                    @include Control {
                        &_main {
                            width: 75% !important;
                        }
                    }
                }
            }
            &:not(active) + {
                @include Control {
                    &_main {
                        width: 93.666667% !important;
                    }
                }
            }
        }

       
    }
    @include Control {
        &_main {
            width: 93.666667% !important;
        }
    }
}
